.block {
  padding: 5rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  background-color: rgb(243, 245, 239);
}

$breakpoint-tablet: 768px;

@media (max-width: $breakpoint-tablet) {
  .block {
    padding: 5rem 3rem;
  }
}
