@import "../../app/breakpoints.module.scss";

.block {
  padding: 5rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  background-color: rgb(243, 245, 239);
}

@include breakpoint-tablet {
  .block {
    padding: 5rem 3rem;
  }
}

@include breakpoint-mobile {
  .block {
    padding: 3rem 2rem;
  }
}
