.block {
  padding: 5rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  background-color: rgb(243, 245, 239);

  .text {
    h1 {
      margin: 1rem 2rem 0 0;
      font-weight: bold;
      /* background-color: red; */
    }

    p {
      font-size: 20px;
      margin: 2rem 0;
    }
  }
}
