.intro {
  padding-top: 2rem;
  padding-left: 2rem;
  backdrop-filter: blur(3px);
}

.title {
  margin: 0.5rem 0;
  line-height: 1.2;
  max-width: 30rem;

  h1 {
    font-size: 3rem;
    font-weight: bold;
  }

  .wip {
    color: var(--highlight_color_2);
  }
}

.description {
  font-size: 1.2rem;
  max-width: 30rem;
  margin-bottom: 0.5rem;

  span {
    pointer-events: all;
  }
}

.tags {
  margin-right: 5px;
  margin-bottom: 5px;
  background: var(--highlight_color_1);
  border: none;
  color: white;
  text-transform: lowercase;
  pointer-events: none;
}

.button {
  pointer-events: all;
  color: black;
}

.button:active {
  cursor: progress;
}

.postInfo {
  margin: 1rem 0;
  padding: 1rem 0;
  border-top: 1px solid #9e9e9e;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .time {
    color: "#9e9e9e";
    margin-left: 1rem;
  }

  .share {
    margin-right: 1rem;
  }
}

@media screen and (max-width: 540px) {
  .title {
    font-size: 1.8em;
    max-width: 30rem;
  }

  .description {
    margin-top: 1rem;
    font-size: 1.1rem;
    max-width: 30rem;
  }
}
