.intro {
  padding-top: 2rem;
  padding-left: 2rem;
}

.title {
  margin: 0.5rem 0;
  line-height: 1.2;
  max-width: 30rem;

  h1 {
    font-size: 3rem;
    font-weight: bold;
  }

  .wip {
    color: var(--highlight_color_2);
  }
}

.description {
  font-size: 1.2rem;
  max-width: 30rem;
  margin-bottom: 0.5rem;

  span {
    pointer-events: all;
  }
}

.tags {
  margin-right: 5px;
  margin-bottom: 5px;
  background: var(--highlight_color_1);
  border: none;
  color: white;
  text-transform: lowercase;
  pointer-events: none;
}

.button {
  pointer-events: all;
}

@media screen and (max-width: 540px) {
  .title {
    font-size: 1.8em;
    max-width: 30rem;
  }

  .description {
    margin-top: 1rem;
    font-size: 1.1rem;
    max-width: 30rem;
  }
}
