.quote {
  border-left: 5px solid #ccc;
  margin: 2rem;
  padding: 0 2rem;
  color: var(--disable_color);

  h4 {
    font-size: 1.3rem;
  }
  p {
    font-size: 1rem;
    margin: 0;
  }

  ul {
    margin: 1rem;
    li {
      list-style-type: none;
      p {
        font-weight: bold;
      }

      span {
        font-size: medium;
        font-weight: normal;
      }
    }
  }
}

$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
  .quote {
    margin: 2rem 0;
    padding: 0 0.5rem;
  }
}
