.text {
  h1 {
    margin: 1rem 2rem 0 0;
    font-weight: bold;
    /* background-color: red; */
  }

  p {
    font-size: 20px;
    margin: 2rem 0;
  }

  ul {
    font-size: 20px;
    li {
      margin: 0 2rem;
      font-size: 20px;
      /*list-style: none;*/
    }
  }
}

$breakpoint-mobile: 576px;
@media (max-width: $breakpoint-mobile) {
  .text {
    h1 {
      line-height: 1.2;
    }

    p {
      font-size: 18px;
      margin: 1.5rem 0;
    }

    ul {
      font-size: 18px;
      li {
        margin: 0 2rem;
        font-size: 18px;
        /*list-style: none;*/
      }
    }
  }
}
