.nav {
  position: fixed;
  top: 2rem;
  left: 2rem;
  pointer-events: none;
}

.title {
  margin: 1rem 0;
  font-size: 4em;
  line-height: 1.2;
  max-width: 4rem;

  span {
    color: var(--highlight_color_2);
  }
}

.description {
  font-size: 1.2rem;
  max-width: 25rem;
}

.button {
  pointer-events: all;
}

@media screen and (max-width: 540px) {
  .title {
    font-size: 3em;
    max-width: 4rem;
  }

  .description {
    margin-top: 1rem;
    font-size: 1.2rem;
    max-width: 20rem;
  }
}
